/*
!alacritty
!amfora
!awesome
!bspwm
!castero
!doom
!efm-langserver
!eww
!fish
!htop
!kitty
!moc
!mu4e
!ncmpcpp
!nitrogen
!nvim
!openbox
!picom
!polybar
!qtile
!qutebrowser
!ranger
!rofi
!surf
!sxhkd
!sxiv
!tint2
!vifm
!xmobar
!xmonad
!zathura
!.gitignore
!starship.toml
